{% extends 'all_actions_list.html' %}
{% load i18n %}

{%comment%}
    List of actions which were assigned by the current user, displayed in a jQuery datatable which is handled by the listable template tag.
{%endcomment%}
{% load staticfiles %}
{% load listable %}

{% block title %}{% trans "Actions Assigned By You" %}{% endblock title %}

{% block page_title %}<h3>{% trans "Actions Assigned By You" %}</h3>{% endblock page_title %}

{% block listable %}
    {% listable 'incidents_nsir:my-assigned-by-actions' save_state=True css_table_class='table-striped table-condensed' css_input_class='input-mini' %}
{% endblock listable %}


{% block page_description %}
    <p>{% trans "All actions assigned by you" %}</p>
{% endblock page_description %}
