{% extends 'all_incidents_list.html' %}
{% load i18n %}

{%comment%}
    List of completed incidents in the DB, displayed in a jQuery datatable which is handled by the listable template tag.
{%endcomment%}
{% load staticfiles %}
{% load listable %}

{% block title %}{% trans "Complete Incidents" %}{% endblock title %}

{% block page_title %}<h3>{% trans "Complete Incidents" %}</h3>{% endblock page_title %}

{% block listable %}
    {% listable 'incidents_nsir:complete-incidents' save_state=True css_table_class='table-striped table-condensed' css_input_class='input-mini' %}
{% endblock listable %}


{% block page_description %}
    <p>{% trans "All completed incidents" %}</p>
{% endblock page_description %}
