{% extends 'all_incidents_list.html' %}
{%comment%}
    List of incomplete, flagged incidents in the DB, displayed in a jQuery datatable which is handled by the listable template tag.
{%endcomment%}
{% load staticfiles %}
{% load listable %}
{% load i18n %}

{% block title %}{% trans "Incomplete and Flagged Incidents" %}{% endblock title %}

{% block page_title %}<h3>{% trans "Incomplete and Flagged Incidents" %}</h3>{% endblock page_title %}

{% block listable %}
    {% listable 'incidents_nsir:flagged-incidents' save_state=True css_table_class='table-striped table-condensed' css_input_class='input-mini' %}
{% endblock listable %}


{% block page_description %}
    <p>{% trans "All incomplete incidents that have been flagged for discussion" %}</p>
{% endblock page_description %}
