{# Called within incidents_nsir/views.py: BaseIncidentsList #}
{# Display correct Complete icon (filled/unfilled) depending on flagged status #}
{%load staticfiles%}
{% load i18n %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'incidents_nsir/css/investigation.css' %}"/>
</head>

{% if not incident.valid %}
    <span class="status_text pull-left label inv_color_invalid" style="margin-left: 10px;">{% trans "Invalid" %}</span>
{% elif incident.investigation_complete %}
    <span class="status_text pull-left label inv_color_complete" style="margin-left: 10px;">{% trans "Complete" %}</span>
{% else %}
    <span class="status_text pull-left label inv_color_incomplete" style="margin-left: 10px;">{% trans "Incomplete" %}</span>
{% endif %}
