{% extends 'all_actions_list.html' %}
{%comment%}
    List of actions for which the current user is responsible, displayed in a jQuery datatable which is handled by the listable template tag.
{%endcomment%}
{% load staticfiles %}
{% load listable %}
{% load i18n %}

{% block title %}{% trans "Actions Assigned To You" %}{% endblock title %}

{% block page_title %}<h3>{% trans "Actions Assigned To You" %}</h3>{% endblock page_title %}

{% block listable %}
    {% listable 'incidents_nsir:my-responsible-actions' save_state=True css_table_class='table-striped table-condensed' css_input_class='input-mini' %}
{% endblock listable %}


{% block page_description %}
    <p>{% trans "All actions assigned to you" %}</p>
{% endblock page_description %}
