{% extends 'all_incidents_list.html' %}
{%comment%}
    List of incidents in the DB which have not been assigned an investigator, displayed in a jQuery datatable which is handled by the listable template tag.
{%endcomment%}
{% load staticfiles %}
{% load listable %}
{% load i18n %}

{% block title %}{% trans "Incidents Awaiting Triage" %}{% endblock title %}

{% block page_title %}<h3>{% trans "Incidents Awaiting Triage" %}</h3>{% endblock page_title %}

{% block listable %}
    {% listable 'incidents_nsir:triage-incidents' save_state=True css_table_class='table-striped table-condensed' css_input_class='input-mini' %}
{% endblock listable %}


{% block page_description %}
    <p>{% trans "All incidents awaiting triage" %}</p>
{% endblock page_description %}
