{% extends 'base.html' %}
{%comment%}
  Base NSIR template from which all other NSIR templates within SaILS inherit. This template fills in the blocks from base.html for the various nav-bar buttons.
{%endcomment%}
{% load i18n %}
{% load staticfiles %}

{% block report %}
  <li><a href="{% url 'incidents_nsir:report' %}"><i class="icon-bullhorn"></i> {% trans "Report An Incident" %}</a></li>
{% endblock report %}

{% block dashboard %}
  <li><a href="{% url 'incidents_nsir:dashboard' %}" title="View Incident Dashboard"><i class="icon-dashboard"></i> {% trans "Dashboard" %}</a></li>
{% endblock dashboard %}

{% block news %}
  <li><a href="{% url 'incidents_nsir:news' %}" title="View News Items"><i class="icon-inbox"></i> {% trans "News" %}</a></li>
{% endblock news %}

{% block search %}
  
  <li><a href="{% url 'incidents_nsir:search' %}" title="Search for an incident"><i class="icon-search"></i> {% trans "Search" %}</a></li>

  {%comment%}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
       <i class="icon-search"></i> Search <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <div class="input-append">
          <input class="span2" id="appendedInputButton" type="text" placeholder="Unique Incident ID">
          <button class="btn" type="submit">Search <i class="icon-search"></i></button>
        </div>
      </li>
    </ul>
  </li>
  {%endcomment%}
{% endblock search %}

{% block incidents %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <i class="icon-exclamation-sign"></i> {% trans "Incidents " %}<b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li class="nav-header">Incidents</li>
      {#<li><a href="{% url 'incidents_nsir:triage-incidents' %}" title={% trans "Triage recently reported incidents" %}><i class="icon-archive"></i> {% trans "Awaiting Triage" %}</a></li>#}
      <li><a href="{% url 'incidents_nsir:incomplete-incidents' %}" title={% trans "View incomplete incidents" %}><i class="icon-folder-open"></i> {% trans "Incomplete" %}</a></li>
      {#<li><a href="{% url 'incidents_nsir:flagged-incidents' %}" title={% trans "View incomplete and flagged incidents" %}><i class="icon-flag"></i> {% trans "Incomplete & Flagged" %}</a></li>#}
      <li><a href="{% url 'incidents_nsir:complete-incidents' %}" title={% trans "View all completed incidents" %}><i class="icon-folder-close"></i> {% trans "Complete" %}</a></li>
      <li><a href="{% url 'incidents_nsir:all-flagged-incidents' %}" title={% trans "View all flagged incidents" %}><i class="icon-flag"></i> {% trans "Flagged" %}</a></li>
      {#<li><a href="{% url 'incidents_nsir:actual-incidents' %}" title={% trans "View all valid actual incidents" %}><i class="icon-warning-sign"></i> {% trans "Actual" %}</a></li>#}
      <li><a href="{% url 'incidents_nsir:invalid-incidents' %}" title={% trans "View all invalid incidents" %}><i class="icon-ban-circle"></i> {% trans "Invalid" %}</a></li>
      <li><a href="{% url 'incidents_nsir:all-incidents' %}" title={% trans "View all incidents" %}><i class="icon-globe"></i> {% trans "All Incidents" %}</a></li>

      <li class="divider"></li>
      <li class="nav-header">Your Incidents</li>
      {%if user.is_oncologist%}
      <li><a href="{% url 'incidents_nsir:my-patients' %}" title={% trans "View all incidents involving your patients" %}><i class="icon-stethoscope"></i> {% trans "Involving Your Patients" %}</a></li>
      {%endif%}
      <li><a href="{% url 'incidents_nsir:my-incidents' %}" title={% trans "View all incidents you have submitted" %}><i class="icon-user"></i> {% trans "Submitted By You" %}</a></li>
      <li><a href="{% url 'incidents_nsir:my-investigations' %}" title={% trans "View all incident investigations you have been assigned " %}><i class="icon-zoom-in"></i> {% trans "Your Investigations" %}</a></li>
    </ul>
  </li>
{% endblock incidents %}

{% block actions %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <i class="icon-wrench"></i> {% trans "Actions" %} <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li class="nav-header">Actions</li>
      <li><a href="{% url 'incidents_nsir:incomplete-actions' %}" title={% trans "View incomplete learning actions" %}><i class="icon-folder-open"></i> {% trans "Incomplete" %}</a></li>
      <li><a href="{% url 'incidents_nsir:complete-actions' %}" title={% trans "View all completed actions" %}><i class="icon-folder-close"></i> {% trans "Complete" %}</a></li>
      <li><a href="{% url 'incidents_nsir:all-actions' %}" title={% trans "View all actions" %}><i class="icon-globe"></i> {% trans "All Actions" %}</a></li>
      <li class="divider"></li>
      <li class="nav-header">Your Actions</li>
      <li><a href="{% url 'incidents_nsir:my-assigned-by-actions' %}" title={% trans "View all incomplete actions you have been assigned " %}><i class="icon-share-alt"></i> {% trans "Assigned By You" %}</a></li>
      <li><a href="{% url 'incidents_nsir:my-responsible-actions' %}" title={% trans "View all complete actions you have been assigned " %}><i class="icon-reply"></i> {% trans "Assigned To You" %}</a></li>
      <li><a href="{% url 'incidents_nsir:my-completed-actions' %}" title={% trans "View all complete actions you have been assigned " %}><i class="icon-ok-sign"></i> {% trans "Completed By You" %}</a></li>
    </ul>
  </li>
{% endblock actions %}

{% block sharing %}
  <ul class="dropdown-menu">
    <li class="nav-header">Sharing</li>
    <li><a href="{% url 'incidents_nsir:incomplete-sharing' %}" title={% trans "View incomplete sharing" %}><i class="icon-folder-open-alt"></i> {% trans "Incomplete" %}</a></li>
    <li><a href="{% url 'incidents_nsir:complete-sharing' %}" title={% trans "View all completed sharing" %}><i class="icon-folder-close-alt"></i> {% trans "Complete" %}</a></li>
    <li><a href="{% url 'incidents_nsir:all-sharing' %}" title={% trans "View all sharing" %}><i class="icon-globe"></i> {% trans "All Sharing" %}</a></li>

    <li class="divider"></li>
    <li class="nav-header">My Sharing</li>
    <li><a href="{% url 'incidents_nsir:my-incomplete-sharing' %}" title={% trans "View all incomplete sharing you have been assigned " %}><i class="icon-zoom-in"></i> {% trans "Incomplete" %}</a></li>
    <li><a href="{% url 'incidents_nsir:my-complete-sharing' %}" title={% trans "View all complete sharing you have been assigned " %}><i class="icon-zoom-in"></i> {% trans "Complete" %}</a></li>
    <li><a href="{% url 'incidents_nsir:my-sharing' %}" title={% trans "View all incident investigations you have been assigned " %}><i class="icon-zoom-in"></i> {% trans "All" %}</a></li>
  </ul>
{% endblock sharing %}

{% block statistics %}
  <li><a href="{% url 'incidents_nsir:statistics' %}"><i class="icon-bar-chart"></i> {% trans "Statistics" %}</a></li>
{% endblock statistics %}

{%comment%}
{% block statistics %}
  <ul class="dropdown-menu">
    <li><a href="{% url 'incidents_nsir:statistics' %}" title={% trans "View overall statistics" %}><i class="icon-bar-chart"></i> {% trans "Overall" %}</a></li>
    {% if perms.incidents %}
    <li><a href="{% url 'incidents_nsir:incomplete-statistics' %}" title={% trans "View statistics on incomplete incidents" %}><i class="icon-folder-open-alt"></i> {% trans "Incomplete" %}</a></li>
    {% endif %}
  </ul>
{% endblock statistics %}
{%endcomment%}

{% block nav_login_redirect %}
  <input type="hidden" name="next" value="{% url 'incidents_nsir:dashboard' %}"/>
{% endblock nav_login_redirect %}
