{% extends "incidents_nsir/base_nsir.html" %}

{#{% load bootstrap_tags %}#}
{% load staticfiles %}
{% load custom_tags %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock title %}

{% block page_title %}
    {% if user.must_change_password %}
        <h3>{% trans "Mandatory Password Change" %}</h3>
    {% else %}
        <h3>{% trans "Change Your Password" %}</h3>
    {% endif %}
{% endblock page_title%}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/password_change.css'%}"/>
{% endblock extra_css %}

{% block extra_js %}
  <script src="{% static 'js/password_change.js' %}"></script>
{% endblock extra_js %}

{% block content %}
<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span8" style="text-align:justify">
            {% if user.must_change_password %}
                <ul>
                    <li><b>{% trans "To access SaILS, you must first change your password" %}</b></li>
                    <li style="margin-top:10px">{% trans "Enter the temporary password provided to you and your new password twice to confirm intended spelling" %}</li>
                </ul>
            {% else %}
                <ul>
                    <li>{% trans "Please enter your previous password" %}</li>
                    <li style="margin-top:10px">{% trans "Then enter your new password twice to confirm intended spelling" %}</li>
                </ul>
            {% endif %}
            </div>
        </div>
        <br>
        <div class="row">
            <form action="" method="post" id="form-change-password">
            {% csrf_token %}
            {% for field in form %}
                <div class="control-group {% if field.errors %}error{% endif %}" id="hide-{{ label_key }}">
                    <label class="control-label" for="{{field.html_name}}">{{field.label}}</label>
                    <div class="controls" >
                        {{field}}
                        {% for error in field.errors %}
                            <span class="help-block">{{error}}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
                <button type="submit" id="btn-change-password" class="btn btn-primary my-shader" style="margin-left:315px">{% trans "Change Password" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock content%}
