{% extends "incidents_nsir/base_nsir.html" %}

{% load i18n %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <h3>{% trans "Password Reset" %}</h3>

    {% if user.must_change_password %}
        <p>{% blocktrans %}You are currently logged in as {{ user }}. However, you must complete your password reset before accessing site features.{% endblocktrans %}</p>
    {% endif %}

    <p>{% blocktrans %}You have been sent an email detailing how to reset your password. If you do not receive the email within a few minutes, contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>

    <p>
        A complete tutorial for resetting your password is <a href="http://172.26.66.41/depdocs/node/2513">available on DepDocs.</a>
    </p>
{% endblock %}
